[submodule "ext/modm"]
	path = ext/modm
	url = https://github.com/ClemensElflein/modm.git
[submodule "app/base-firmware/ext/threadx"]
	path = app/base-firmware/ext/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "app/base-firmware/ext/netxduo"]
	path = app/base-firmware/ext/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
